[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
cairosvg = "*"

[dev-packages]
types-pillow = "*"
pyinstaller = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.11"
